
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Oluştur</h2>

<form method="post">
    <label>Detaylı Tanımı:</label>
    <input type="text" class="form-control "name="Description"  />
    <br />
    <button class="btn btn-info">Yeni Hakkımda Ekle</button>
</form>