<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/devfolio-master/img/testimonial-2.jpg); "></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="#">Porfolyo</a></li>
            <li><a href="/About/AboutList/">Hakkımda</a></li>
            <li><a href="/Skill/SkillList/">Yeteneklerim</a></li>
            <li><a href="/Project/CreateProject/">Yeni Proje girişi</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Statistic/Index">İstatistikler</a></li>
            <li><a href="/Project/Index/">Projeler</a></li>
            <li><a href="/Testimonial/TestimonialList/">Referanslar</a></li>
            <li><a href="/Address/AddressList/">İletişim Bilgileri</a></li>
            <li><a href="/SocialMedia/SocialMediaList/">Sosyal Medya</a></li>
            <li><a href="/Contact/MessageList">Gelen Mesajlar</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış</a></li>
        </ul>

        <div class="footer">
            <p>
                
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                
            </p>
        </div>

    </div>
</nav>

