
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    
    <table class="table table-bordered">
        <tr>
            
            <th>Mesaj No</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesajı Aç</th>
           
        </tr>
        
        <tr>
            <td>1</td>
            <td>Murat Sağlam</td>
            <td>Teşekkür</td>
            <td><a href="#" class=" btn btn-warning">Mesaj Aç</a></td>
        <tr>
            <td>2</td>
            <td>Emin Sağlam</td>
            <td>Teşekkür</td>
            <td><a href="#" class=" btn btn-warning">Mesaj Aç</a></td>
        </tr>
    </table>   
    
    
    
    
    
    

</div>