
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="container">

    <h3>Yeni Mesaj Sayfası</h3>
    <label>Adınız Soyadınız</label>
    <input type="text" class="form-control" name="name" value="" />
    <br />
    <label>Email Adresiniz</label>
    <input type="email" class="form-control" name="name" value="" />
    <br />
    <label>Mesaj Konusu</label>
    <input type="text" class="form-control" name="name" value="" />
    <br />
   <label>Mesajınız</label>
    <textarea rows="5" class="form-control"></textarea>
    <br />
    <button class="btn btn-primary">Mesajı Gönder</button>
    <button class="btn btn-danger">Vazgeç</button>
</div>