@model Devfolio.Models.TblSkill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>

<form method="post">
    <label>Yetenek Id</label>
    <input type="text" class="form-control" name="SkillID" value="@Model.SkillID" />
    <br />
    <label>Yetenek Başlığı</label>
    <input type="text" class="form-control" name="SkillTitle" value="@Model.SkillTitle"/>
    <br />
    <label>Yetenek Değeri</label>
    <input type="text" class="form-control" name="SkillValue" value="@Model.SkillValue"/>
    <br />
    <button class="bt btn-info">Yeteneği Güncelle</button>

</form>