
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Ekleme Sayfası</h2>

<form method="post">
    
    <label>Platform Adı</label>
    <input type="text" class="form-control" name="PlatformName"  />
    <br />
    <label>Icon URL</label>    
    <input type="text" class="form-control" name="IconUrl"  />
    <br />
    <label>Redirect URL</label>
    <input type="text" class="form-control" name="RedirectUrl"  />
    <br />
    <label>Durum</label>   
    <input type="text" class="form-control" name="Status"  />
    <br />
    <button class="btn btn-info">Sosyal Media Ekle</button>
 
</form>

